/Cours1/ConsoleApplication1/Debug
/Cours1/ConsoleApplication1/ConsoleApplication1/Debug
/Cours1/ConsoleApplication1/.vs
/Cours2/ConsoleApplication/Debug
/Cours2/ConsoleApplication/.vs
/Cours3/ConsoleApplication/Debug
/Cours3/ConsoleApplication/.vs
/Cours4/ConsoleApplication1/.vs
/Cours4/ConsoleApplication1/Debug
/Cours4/ConsoleApplication1/ConsoleApplication1/Debug
/Cours5/ConsoleApplication1/Debug
/Cours5/ConsoleApplication1/ConsoleApplication1/Debug
/Cours5/ConsoleApplication1/.vs
/Sfml/.vs
/Sfml/6a79ebf1b3cc001159ea90066a3a1e73b9de10f0/.vs
/Cours7/ConsoleApplication1/Debug
/Cours7/ConsoleApplication1/ConsoleApplication1/Debug
/Cours8/App/Debug
/Cours8/App/x64/Debug
/mt_case_ia/App/Debug
/mt_case_ia/App/x64/Debug
/mt_case_merde/App/Debug
/mt_case_merde/App/x64/Debug
/mt_case_switch/App/x64/Debug
